################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Smv2Sql/bin/Release
/Smv2Sql/obj
/Smv2Sql/Smv2Sql.csproj.user
/SmvAccessor/bin/Release
/SmvAccessor/obj
/SmvAccessorDemo/obj
/SMVActionsTable/bin/Release
/SMVActionsTable/obj
/SmvCloud/bin/Release
/SmvCloud/csx/Release
/SmvCloud/obj/Release
/SmvCloud/rcf/Release/SmvCloudWorkerContent
/SmvCloudWorker/bin/Release
/SmvCloudWorker/obj
/SmvDb/bin
/SmvDb/obj/Release
/SmvInterceptor/bin/Release
/SmvInterceptor/obj
/SmvInterceptorWrapper/bin/Release
/SmvInterceptorWrapper/obj
/SmvLibrary/bin
/SmvLibrary/obj
/SmvLineCounter/bin/Release
/SmvLineCounter/obj
/SmvSdv/bin/Release
/SmvSkeleton/bin
/SmvSkeleton/obj
/SmvTest/bin/Release
/SmvTest/obj
/Smv2Sql/bin/Debug
/SmvAccessor/bin/Debug
/SMVActionsTable/bin/Debug
/SmvCloud/bin/Debug
/SmvCloud/obj/Debug
/SmvCloud/rcf/Debug/SmvCloudWorkerContent
/SmvCloudWorker/bin/Debug
/SmvDb/obj/Debug
/SmvInterceptor/bin/Debug
/SmvInterceptorWrapper/bin/Debug
/SmvLineCounter/bin/Debug
/SmvSdv/obj
/SmvTest/bin/Debug
/.vs/smv/v14
/Downloaded Profiling Logs/
/SmvCloud/csx/
/SmvCloud/ecf
/SmvDb/SmvDb.dbmdl
/SmvService/bin
/SmvService/obj
/SmvService/rcf
.vs